.container {
    display: grid;
    grid-template-columns: repeat(16, 30px);
}
 
div {
    border-style:inset;
    height: 30px;
    width: 30px;
}

.block {
    background-color: green;
}

button {
    color: whitesmoke;
    background-color: darkblue;
    font-size: large;
    text-align: center; 
    border-radius: 8px;
    border-color: black;
    border-style: inset; 
    margin: 8px;
    height: 50px;
    width: 125px;
}

/* #clear-Grid {
    height: 30px;
    width: 100px;
}

#grid-Size {
    height: 30px;
    width: 100px;
} */